### 1번 문제

In [2]:
import pandas as pd
bread = pd.read_json("C:/data/bread.json")

In [3]:
bread.columns

Index(['breadType', 'recipe'], dtype='object')

In [4]:
bread['breadType']

0     cream
1     sugar
2    butter
Name: breadType, dtype: object

In [5]:
bread['recipe']

0    {'flour': 100, 'water': 100, 'cream': 200}
1     {'flour': 100, 'water': 50, 'sugar': 200}
2    {'flour': 100, 'water': 100, 'butter': 50}
Name: recipe, dtype: object

In [6]:
len(bread)

3

In [7]:
for i in bread['breadType']:
    print(i)

cream
sugar
butter

In [8]:
for i in bread['recipe']:
    print(i)

{'flour': 100, 'water': 100, 'cream': 200}
{'flour': 100, 'water': 50, 'sugar': 200}
{'flour': 100, 'water': 100, 'butter': 50}

In [9]:
for i in bread['recipe']:
    for k,v in i.items():
        print(k,v)

flour 100
water 100
cream 200
flour 100
water 50
sugar 200
flour 100
water 100
butter 50

In [11]:
for i in bread['breadType']:
    print('breadType: ', i)
    print('recipe')
    for j in bread[bread['breadType'] == i]['recipe']:
        for k,v in j.items():
            print(k,':',v)

breadType:  cream
recipe
flour : 100
water : 100
cream : 200
breadType:  sugar
recipe
flour : 100
water : 50
sugar : 200
breadType:  butter
recipe
flour : 100
water : 100
butter : 50

### 3번 문제

In [12]:
def factorial(arg1):
    if arg1 == 1 or arg1 == 0:
        return 1
    return arg1 * factorial(arg1-1)

In [13]:
factorial(5)

120

### 4번 문제

stack overflow가 발생하는 상황에서는 재귀함수를 사용하기 보단 for문등의 반복문을 이용하는 것이 더 알맞은 방법이라고 생각합니다. 시간은 오래 걸리지만 stack이 일어나지 않기 때문에 결과값 도출에는 문제가 없을 것입니다.

In [14]:
def factorial(x):
    if x == 1 or x == 0:
        return 1
    else:
        result = 1
        for i in range(x,0,-1):
            result *= i
    return result

In [15]:
factorial(5)

120

### 5번 문제

제가 구현해낼 수 있는 답은 다음과 같습니다. 먼저 txt파일을 csv파일로 변환한 후 dataframe으로 불러들였습니다. 그리고 각각 상,하,좌,우 혹은 자신이 0인 경우는 continue시켰고, 그렇지 않은 경우는 상,하,좌,우가 모두 자신보다 작지 않은 경우에 자신에 1을 더했습니다. 하지만 원하시는 숫자 4까지 깊어지는 부분은 구현하지 못했습니다.

In [16]:
import pandas as pd

In [17]:
txt = pd.read_csv("C:/data/pond.csv", header = None, sep = ' ')
txt

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  1  1  1  0  0  0  0
3  0  1  1  1  1  1  1  0  0  0
4  0  1  1  1  1  1  1  1  1  0
5  0  1  1  1  1  1  1  1  1  0
6  0  0  1  1  1  1  1  1  0  0
7  0  0  0  1  1  1  1  0  0  0
8  0  0  0  0  1  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

In [18]:
pond = txt.copy()
for x in range(0,10):
    for y in range(0,10):
        if txt.iloc[x,y] == 0 or txt.iloc[x,y-1] == 0 or txt.iloc[x,y+1] == 0 or txt.iloc[x-1,y] == 0 or txt.iloc[x+1,y] == 0:
            continue
        else:
            if (txt.iloc[x,y] >= txt.iloc[x,y-1]) and (txt.iloc[x,y] >= txt.iloc[x,y+1]) and (txt.iloc[x,y] >= txt.iloc[x-1,y]) and (txt.iloc[x,y] >= txt.iloc[x+1,y]):
                pond.iloc[x,y] += 1

In [19]:
pond

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  1  0  0  0  0  0
2  0  0  0  1  2  1  0  0  0  0
3  0  1  1  2  2  2  1  0  0  0
4  0  1  2  2  2  2  2  1  1  0
5  0  1  2  2  2  2  2  2  1  0
6  0  0  1  2  2  2  2  1  0  0
7  0  0  0  1  2  1  1  0  0  0
8  0  0  0  0  1  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

### 2번 문제

해결방법을 스스로 생각하지 못했습니다. 죄송합니다.